/* General Styles */
body {
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 200vh;
    background: url("TEST/side_background.png") no-repeat center center fixed;
    background-size: cover;
    flex-direction: column;
}


.logo-container {
    width: 100%;
    text-align: left;
    padding: 30px;
    padding-left: -5px;
    position: fixed;
}
.logo {
    width: 250px;

}
.main-container {
    display: flex;
    flex: 1;
}
.sidebar {
    width: 180px;
    padding: 40px;
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 5px;
}
nav ul {
    list-style: none;
    padding: 10px;
    width: 100%;
}
nav ul li {
    margin: 60px 0;
    width: 100%;
}
nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 700;
    background: #0066FF;
    padding: 20px;
    text-align: right;
    border-radius: 27px;
    width: 100%;
    border: 2px solid #000000;
    Margin-left: -80px
}
nav ul li a:hover {
    background: #004bb5;
}

/* Main Content */
main {
    flex: 1;
    padding: 50px;
}

/* Developer Section */
.developers {
    text-align: center;
    margin-top: 300px;
}

.developers h1 {
    font-size: 28px;
    font-weight: bold;
    position: relative;
    bottom: 100px;
}

.developers h1 span {
    color: #00aaff;
}

.dev-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 90px;
    margin-bottom: 8%;
}

.dev-item {
    color: white;
    font-size: 18px;
    text-align: center;
}

.name {
    color: #00aaff;
    font-size: 22px;
    
}
.developer_kresner{
    position: absolute;
    top: 130%;


}
.developer_venus{
  position: absolute;
  top: 130%;
  right: 19%;
}

.developer_patrick{
    position: absolute;
    top: 130%;
    left: 19%;
  }

  .developer_brian{
    position: absolute;
    bottom: 10%;
    right: 30%;
  }

  .developer_brent{
    position: absolute;
    bottom: 20%;
    left: 30%;
  }
/* About Section */
.about-section {
    max-width: 800px;
    margin: auto;
    text-align: left;
}

.about-section p {
    font-size: 18px;
    line-height: 1.9;
    margin-bottom: 30px;
}