@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    background: url('../elements/side_background.png') no-repeat center center fixed;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    display: flex;
    justify-content: center;
   
}

.logo-container {
    width: 100%;
    text-align: left;
    padding: 35px;
    padding-left: -2px;
}

.logo {
    width: 250px;
    position: fixed;
    
}

.sidebar {
    width: 200px; 
    padding: 40px;
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: -10px;
    left: 0; 
}

.main-container {
    display: flex;
    justify-content: center; 
    flex: 1;
    width: calc(100% - 200px); 
    margin-left: 200px; 
}


nav ul {
    list-style: none;
    padding: 10px;
    width: 100%;
}
nav ul li {
    margin: 60px 0;
    width: 100%;
}
nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 700;
    background: #0066FF;
    padding: 20px;
    text-align: right;
    border-radius: 27px;
    width: 100%;
    border: 2px solid #000000;
    Margin-left: -100px
}
nav ul li a:hover {
    background: #004bb5;
}


.container {
    flex: 1;
    padding: 30px;
    background: white;
    border-radius: 15px;
    margin: 50px 50px 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; 
    max-width: 1500px; 
    height: auto;
    align-items: flex-start;
    margin-left: 40px;
    margin-right: -20px;
    margin-top: -40px;
}




.admin-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px 0;
    text-align: center;
}

.admin-box {
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    border: 1px solid #000000;
    

}

.profile-initial {
    width: 30px;
    height: 30px;
    background: #000;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
}

.dropdown {
    cursor: pointer;
    text-align: right;
}